* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

/* Phân tích tổng quan trang web & cách CSS chuẩn.*/
/* 
  1. Từ ngoài vào trong.
  2. Từ trên xuống dưới.
  3. Tổng quan đến chi tiết.
  */

/* Xác định cho từng phần tử các thuộc tính chi tiết.*/
/* 
  1. Vị trí.
  2. Kích thước (width, height).
  3. Màu sắc.
  4. Kiểu dáng (kiểu chữ, tròn, vuông....).
  */

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

#main {
}
#header {
  position: fixed;
  top: 0; /*Cho bám dính lên tận cùng*/
  /* width: 100%; Hoặc sử dụng left 0 right 0 */
  left: 0;
  right: 0;
  height: 46px;
  background-color: black;
  z-index: 1;
}

#nav {
  display: inline-block; /* Set lại hiển thị cho thanh navigation, mặc định sẽ chiếm hết nguyên khối của header. Set lại inline-block để chiếm vừa đủ.*/
}

#nav,
.subnav {
  list-style-type: none;
}

/* Chọn ra thẻ li ở cấp 1 - li là con trực tiếp của id #nav */
#nav > li {
  display: inline-block;
  position: relative;
}

/* Chọn những thẻ a là con trực tiếp thẻ li và li có class=nav */
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

/* #nav li a: Tất cả thẻ a, con của thẻ li và li con của #nav,  */
/* Ảnh hưởng toàn bộ các thẻ có quy cách  */
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
/* Khi hover vào thẻ li, tất cả các class=subnav con của li và li con của class=nav sẽ chịu ảnh hưởng */
#nav li:hover .subnav {
  display: block;
}

/* Cấp 1 ảnh hưởng - hover lên thẻ li, có con là thẻ a và li là con của #nav*/
/* Cấp 2 ảnh hưởng -  Khi hover vào thẻ li, tất cả thẻ li và có class là .subnav, id là #nav bị ảnh hưởng */
#nav > li:hover > a,
#nav .subnav li:hover {
  background-color: #ccc;
  color: #000;
}

/* clas=subanv nằm trong id=nav sẽ chịu ảnh hưởng chung. */
#nav .subnav {
  display: none; /* Cho ẩn đi */
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
  top: 100%; /* Top sẽ ăn theo thẻ cha có thuộc tính relative, lấy thẻ cha làm chuẩn. Bám sát gốc của cha. */
  left: 0;
}

/* Tất cả thẻ a con cháu trong class là .subnav và trong id #nav  */
#nav .subnav a {
  color: #000;
  padding: 0 16px;
  line-height: 38px;
}

/* Dùng để định dạng size cho icon qua class để sau này tiện thay đổi. */
#nav-arrow-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#header .search-btn:hover {
  background-color: #f44336;
}

#slider {
  margin-top: 46px;
  padding-top: 50%; /* Định dạng cho ảnh ko bị vỡ. Chiều cao = 50% chiều rộng*/
  background: url("/assets/img/slider/slider1.jpg") top center / cover no-repeat;
  position: relative;
}

#slider .text-content {
  color: #fff;
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#slider .text-heading {
  font-weight: 500px;
  font-size: 24px;
}
#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
}

#content {
}

#content .content-section {
  width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

#content .member-list {
  margin-top: 48px;
}

#content .member-item {
  float: left;
  width: 33.33333%;
  text-align: center;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* Tour section */
.tour-section {
  background-color: #000;
}

.tickets-list {
  list-style-type: none;
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  font-size: 15px;
  color: #757575;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  margin-left: 16px;
  padding: 2px 8px;
}

.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

/* Places */
.places-list {
  margin-top: 32px;
}
.place-item {
  float: left;
  width: 33.33333%;
  padding: 0 16px;
}
.place-img {
  width: 100%;
}
.place-body {
}
.place-heading {
}
.place-time {
}
.place-desc {
}
.place-buy-btn {
}

/* Footer section */
#footer {
}
